langchain
langchain_community
pandasql
sqlparse
pytorch
transformers
thefuzz
openai
python-dotenv
streamlit
watchdog
pandas
sentence-transformers
numpy
psycopg2-binary
sqlalchemy
nest_asyncio
llama_index
tabulate
llama-parse
IPython
spacy
psycopg2
